# Overview
The data has been split into two groups:
- training set (train.csv)
- test set (test.csv)

The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.

The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.

We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.

# Загрузка модулей и датасета

In [5]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score, roc_auc_score, recall_score, precision_score

import warnings
warnings.filterwarnings('ignore')

In [6]:
RANDOM_SEED = 17
titanic = pd.read_csv('train.csv')
targets_train = titanic.Survived
data_train = titanic.drop(columns=['Survived', 'Ticket', 'Fare', 'Cabin'])

titanic = pd.read_csv('test.csv')
data_test = titanic.drop(columns=['Ticket', 'Fare', 'Cabin'])

Видим, что поля Age, Cabin и Embarked заполнены не у всех. Заполним возраст медианным значением для каждого пола, Cabin и Embarked заполним `U`

In [7]:
median_age_male = data_train[data_train['Sex'] == 'male']['Age'].median()
median_age_female = data_train[data_train['Sex'] == 'female']['Age'].median()

In [8]:
data_train['Age'][data_train['Sex'] == 'male'] = data_train['Age'].fillna(median_age_male)
data_train['Age'][data_train['Sex'] == 'female'] = data_train['Age'].fillna(median_age_female)
data_test['Age'][data_test['Sex'] == 'male'] = data_test['Age'].fillna(median_age_male)
data_test['Age'][data_test['Sex'] == 'female'] = data_test['Age'].fillna(median_age_female)

In [9]:
def fillna(data):
    # data['Cabin'] = data['Cabin'].fillna('U')
    data['Embarked'] = data['Embarked'].fillna('U')
fillna(data_train)
fillna(data_test)

Проанализируем в составе имени Mr., Mrs. и т.д, оставив только их

In [10]:
def naming(data):
    for i in range(data.Name.count()):
        s = data['Name'][i]
        new_Name = s[s.find(', ')+2:s.find('. ')+1]
        data['Name'][i] = new_Name
naming(data_train)
naming(data_test)

In [11]:

data_train = data_train.replace(['male', 'female'], [0,1])
data_train = data_train.replace(['U', 'S', 'C', 'Q'], [0,1,2,3])
data_train = data_train.replace(['Mr.', 'Miss.', 'Mrs.', 'Dr.', 'Master.'], [0,1,2,3,4])

for i in range(data_train.Name.count()):
    if data_train['Name'][i] not in [0,1,2,3,4]:
        data_train['Name'][i] = 5 
data_train['Name'] = data_train['Name'].astype(int)

In [12]:

data_test = data_test.replace(['male', 'female'], [0,1])
data_test = data_test.replace(['U', 'S', 'C', 'Q'], [0,1,2,3])
data_test = data_test.replace(['Mr.', 'Miss.', 'Mrs.', 'Dr.', 'Master.'], [0,1,2,3,4])

for i in range(data_test.Name.count()):
    if data_test['Name'][i] not in [0,1,2,3,4]:
        data_test['Name'][i] = 5 
data_test['Name'] = data_test['Name'].astype(int)

In [13]:
data_test

     PassengerId  Pclass  Name  Sex   Age  SibSp  Parch  Embarked
0            892       3     0    0  34.5      0      0         3
1            893       3     2    1  47.0      1      0         1
2            894       2     0    0  62.0      0      0         3
3            895       3     0    0  27.0      0      0         1
4            896       3     2    1  22.0      1      1         1
..           ...     ...   ...  ...   ...    ...    ...       ...
413         1305       3     0    0  29.0      0      0         1
414         1306       1     5    1  39.0      0      0         2
415         1307       3     0    0  38.5      0      0         1
416         1308       3     0    0  29.0      0      0         1
417         1309       3     4    0  29.0      1      1         2

[418 rows x 8 columns]

In [14]:
data_target = targets_train
data_features = data_train

X_train, X_test, y_train, y_test = train_test_split(
    data_features, data_target,
    random_state=RANDOM_SEED,
    test_size=0.25
)

In [15]:
knn = KNeighborsClassifier(n_neighbors=15)
lr = LogisticRegression(random_state=RANDOM_SEED)
dtc = DecisionTreeClassifier(max_leaf_nodes=6, random_state=RANDOM_SEED)
svm = SVC(random_state=RANDOM_SEED)

knn_model = knn.fit(X_train, y_train)
lr_model = lr.fit(X_train, y_train)
dtc_model = dtc.fit(X_train, y_train)
svm_model = svm.fit(X_train, y_train)

In [16]:
knn_predict = knn.predict(X_test)
lr_predict = lr.predict(X_test)
dtc_predict = dtc.predict(X_test)
svm_predict = svm.predict(X_test)

In [33]:
knn_predict = knn.predict(X_train)
dtc_predict = dtc.predict(X_train)
svm_predict = svm.predict(X_train)

In [38]:
df = pd.DataFrame([knn_predict, dtc_predict, svm_predict]).T

In [39]:
df

     0  1  2
0    0  1  0
1    0  0  0
2    0  0  0
3    0  1  0
4    0  1  0
..  .. .. ..
663  0  0  0
664  1  0  0
665  0  0  0
666  0  1  0
667  0  0  0

[668 rows x 3 columns]

In [36]:
lr_model = lr.fit(df, y_train)

In [40]:
knn_predict = knn.predict(data_test)
dtc_predict = dtc.predict(data_test)
svm_predict = svm.predict(data_test)

In [41]:
df = pd.DataFrame([knn_predict, dtc_predict, svm_predict]).T
df

     0  1  2
0    0  0  0
1    0  0  0
2    0  0  0
3    0  0  0
4    0  0  0
..  .. .. ..
413  0  0  0
414  0  1  0
415  0  0  0
416  0  0  0
417  0  0  0

[418 rows x 3 columns]

In [43]:
lr_predict = lr.predict(df)

In [ ]:
recall_score(knn_predict, y_test)

0.38461538461538464

In [44]:
recall_score(lr_predict, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [418, 223]

In [ ]:
recall_score(dtc_predict, y_test)

0.84375

In [ ]:
recall_score(svm_predict, y_test)

0.0

In [ ]:
precision_score(dtc_predict, y_test)

0.5869565217391305

In [46]:
predict = lr.predict(data_test)

ValueError: X has 8 features, but LogisticRegression is expecting 3 features as input.

In [47]:
lr_predict

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [49]:
answerId = data_test['PassengerId']
answerPr = pd.DataFrame(lr_predict)

In [50]:
answer = pd.concat([answerId, answerPr], axis=1)
answer.columns = ['PassengerId','Survived']

In [51]:
answer

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
answer.to_csv('answer.csv', index=False)