# Курс аналитик данных на Python
## Модуль 5.2. Работа с базами данных.

In [2]:
import pymysql
import pandas as pd
import pickle
from sqlalchemy import create_engine

c:\Program Files\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Program Files\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Program Files\Python\Python39\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

ModuleNotFoundError: No module named 'sqlalchemy'

<img src="../img/databases.png">

In [ ]:
connection = pymysql.connect(host = 'your host',
                             user = 'your login',
                             password = 'your pass',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [ ]:
connection

In [ ]:
cursor = connection.cursor()
query = "show databases;"
#вернул количество строк
print(cursor.execute(query))

result = cursor.fetchall()
#сам результат запроса
print(result)

In [ ]:
query = """
CREATE DATABASE python_course;
"""
cursor.execute(query)

In [ ]:
query = """
USE python_course;
"""
cursor.execute(query)

In [ ]:
query = """
CREATE TABLE test (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `email` varchar(255) COLLATE utf8_bin NOT NULL,
    `password` varchar(255) COLLATE utf8_bin NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
AUTO_INCREMENT=1 ;
"""
cursor.execute(query)

In [ ]:
query = """
INSERT INTO test (`email`, `password`) VALUES ("{0}","{1}")
"""
emails = ['milo_' + str(i) + '@pudel.ru'for i in range(10)]
passwords = ['very_secret_' + str(i) for i in range(10)]
for email, passw in zip(emails,passwords):
    cursor.execute(query.format(email,passw))
connection.commit()

In [ ]:
connection.commit()

In [ ]:
connection.close()

In [ ]:
with open('df.pickle', 'rb') as handler:
    df = pickle.load(handler)

In [ ]:
df.head()

In [ ]:
#dialect+driver://username:password@host:port/database
engine = create_engine('mysql+pymysql://{0}:{1}@{2}/python_course'.format(User.USER,User.PASSWORD,User.HOST))

In [ ]:
df.to_sql('analytics_data',con = engine,if_exists='append')

In [ ]:
df.info()

In [ ]:
query = """
select
*
from analytics_data
limit 2;
"""
some = pd.read_sql(query,con=engine)

In [ ]:
some

In [ ]:
df.index